.idea
.spyproject/config
__pycache__
venv
data/ws.csv
data/d.csv
presentation/presentation.aux
presentation/presentation.bbl
presentation/presentation.blg
rpresentation/presentation.bcf
presentation/presentation.nav
presentation/presentation.out
presentation/presentation.run.xml
presentation/presentation.snm
presentation/presentation.log
presentation/presentation.synctex.gz
presentation/presentation.toc
report/report.aux
report/report.bbl
report/report.blg
report/report.bcf
report/report.run.xml
report/report.log
report/report.syntex.gz.log
report/report.synctex.gz
analysis/__pycache__
analysis/data/ws.csv
analysis/data/d.csv
analysis/.Rhistory