.idea
.spyproject/config
__pycache__
venv
data/ws.csv
data/d.csv
report/other.tex
report/report.aux
report/report.bbl
report/report.blg
report/report.bcf
report/report.run.xml
report/report.log
report/report.syntex.gz.log
report/report.synctex.gz
analysis/__pycache__
analysis/data/ws.csv
analysis/data/d.csv
analysis/.Rhistory
analysis/gev.R
analysis/trunc.py
analysis/other.py
analysis/sanstitre1.py
TODO.txt