.idea
.spyproject/config
__pycache__
venv
data/ws.csv
data/d.csv
other.py
sanstitre1.py
report/other.tex
report/report.aux
report/report.bbl
report/report.blg
report/report.log
report/report.syntex.gz.log
